* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;       
  display: flex;             
  flex-direction: column;
  background-color: #6de62650; 
}

main {
  flex: 1;                
}

header {
  font-family: Bungee, cursive;
  font-size:35px;
  text-align: center;
  padding: 0px;
  background-color: #366503ce;
}

footer {
  font-family: Bungee, cursive;
  text-align: center;
  font-size: 25px;
  margin-top: 24px;
  padding: 20px;
  background-color: #49891571;
}

.intro {
  text-align: center;
  padding: 20px;
}


.cards-container {
  
  padding: 20px;
  text-align: center;
}

h3{
  font-size: 24px;
  margin-bottom: 10px;
}


.card ul {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}

.card li {
    margin-bottom: 8px;
}



.cards-container article {
  width: 100%;               
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #babf607f; 
  border-radius: 8px;       
}

.cards-container{width: 100%;
background-color: #6de62650;
padding: 20px;
margin-bottom: 20px;
border-radius: 8px;
border: 1px solid #1d3a18;
vertical-align: top;
}

@media (min-width: 768px) {
  .cards-container article {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    vertical-align: top;
    margin-bottom: 0;

  }